body{
  background-color: white
}

#heading{
  text-align: center;
}

.form{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #1DB954;
  border-radius: 20px;
  height: 50vh;
  width: 50vh;
  
}

.signup-heading h2{
  text-align: center;
  text-shadow: white 1px 1px;
}

label{
  color: white;
}

input{
  border-radius: 5px;
}

#submit-button{
  display: flex;
  background-color: #0e5025;
  color: white;
}
